<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="main" >
<script type="text/javascript" th:inline="javascript" >
$(function() {
	let jjimCheck = [[${jjimCheck}]];
	
	if(jjimCheck=="1") {
        $("#jjim").prop("src", "assets/img/planting2.png");
    }else {
        $("#jjim").prop("src", "assets/img/planting.png");
    }
	
	var $j = jQuery.noConflict();
	let token = $("meta[name='_csrf']").attr("content");
	let header = $("meta[name='_csrf_header']").attr("content");
	$("#jjim").on("click", function() {
		
		$.ajax({
			type : "get",
			url : "/changeJjim?jjimCheck="+jjimCheck+"&boardNo="+[[${boardVO.boardNo}]],
			beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
            },
			success : function(result){
				 if (result == 1) {
					 $("#jjim").prop("src", "assets/img/planting2.png");
					 jjimCheck = 1;
					 
					
                 } else {
                	 $("#jjim").prop("src", "assets/img/planting.png");
                	 jjimCheck = 0;
                	 
                 }
			}
		});//ajax
	});//click
	
	//예약하기 버튼 클릭시 예약 가능한 날짜가 없는 경우
	$("#reserveBtn").click(function() {
		let listSize = [[${rdateListSize}]];
		let boardNo = [[${boardVO.boardNo}]];
		if(listSize==0){
			alert("이 활동은 예약이 모두 완료되었습니다");
		}else{
			location.href='reservationForm?boardNo='+boardNo;
		}
	});
	
	//삭제하기 버튼 클릭시 예약이 있으면 삭제 불가능 없으면 게시물 삭제 가능
	$("#deletePostBtn").click(function() {
		let count = [[${checkCount}]];
		let boardNo = [[${boardVO.boardNo}]];
		if(count>0){
			alert("활동에 대한 예약이 존재해 게시물을 삭제할 수 없습니다.");
		}else{
			let result = confirm("게시물을 삭제하시겠습니까?");
			if(result){			
				location.href="/deleteFarmPost?boardNo="+boardNo;
			}
		}
	});
	
	//modal 확인버튼 클릭시
	$("#modalSubmitBtn").click(function() {
		let receiver = [[${boardVO.id}]];
		let content = $("#content").val();
		
		$.ajax({
			type : "get",
			url : "/sendMessage?receiver="+receiver+"&content="+content,
			beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
            },
			success : function(result){
				$("#content").val("");
				alert("메시지가 전송되었습니다.");
			}
		});//ajax
		
	});
	
	//댓글등록버튼 클릭시
	$("#commentBtn").click(function() {
		let boardNo = [[${boardVO.boardNo}]];
		let commentContent = $("#commentContent").val();
		if(commentContent==""){
			alert("댓글을 작성해주세요.");
			return;
		}
		$.ajax({
			type : "get",
			url : "/registerComment?boardNo="+boardNo+"&commentContent="+commentContent,
			beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
            },
			success : function(result){
				$("#commentContent").val("");
				$("#commentTable").replaceWith(result);
				location.reload();		
			}
		});//ajax
	});
	
	$(".updateCommentBtn").click(function() {
		let boardNo = [[${boardVO.boardNo}]];
		let commentNo = $(this).val();
		let commentContent = $("#comment"+commentNo).val();
		//alert(commentContent);
		$.ajax({
			type : "get",
			url : "/updateComment?commentNo="+commentNo+"&commentContent="+commentContent+"&boardNo="+boardNo,
			beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
            },
			success : function(result){
				alert("수정되었습니다.");
				//$("#commentTable").replaceWith(result);
				
			}
		});//ajax
	});
	
	
	$(".deleteCommentBtn").click(function() {
		let boardNo = [[${boardVO.boardNo}]];
		let commentNo = $(this).val();
		let result = confirm("댓글을 삭제하시겠습니까?");
		if(result){			
			$.ajax({
				type : "get",
				url : "/deleteComment?commentNo="+commentNo+"&boardNo="+boardNo,
				beforeSend : function(xhr)
	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
	            },
				success : function(result){
					alert("삭제완료");
					//$("#commentTable").replaceWith(result);
					location.reload();		
				}
			});//ajax
		}
	});

	
	
});
</script>	
	<br>
	<br>
	<br>
	<br>
	<form method="get" enctype="multipart/form-data">
		<span th:name="boardCategori" th:text="${param.boardCategori}"></span>
		
		<table class="table">
			<tr>
				<td><h1 th:text="${boardVO.title}"></h1></td>
			</tr>
			<tr align="left">
				<td style="font-size: 20px;">
					<span style="font-weight: bold; "> 작성자 : 	</span>	
			<a data-toggle="dropdown" href="#" th:text="|${boardVO.id}|"></a>
			 
              <div class="dropdown-menu">
              	<!-- <a class="dropdown-item" href="#" th:href="@{/sendMessageForm(receiver=${boardVO.id})}">메시지보내기</a> --> 
                <a class="dropdown-item"  data-toggle="modal" data-target="#myModal">메시지보내기</a>
              </div>
				</td>
			</tr>
			<tr align="left">
				<td style="font-size: 20px">
				<span style="font-weight: bold; "> 지역 : </span> <span th:text="${boardVO.region}"></span> <br>
				<span style="font-weight: bold; "> 주소 : </span> <span th:text="${boardVO.detailRegion}"></span> <br>
				<span style="font-weight: bold; "> 활동내용 : </span><span th:text="${boardVO.selectCategori}"></span><br>
				<span style="font-weight: bold; "> 예약가능날짜 : </span>
				<th:block th:each="rdate:${rdateList}">
						<span th:text="${rdate.reservationDate}"></span><br>
						<span style="margin-left: 133px"></span>
					</th:block>
				</td>
			</tr>
			
			<tr>
				<td><img style="max-width: 850px" th:src="@{${boardVO.filepath}}" /></td>
			</tr>
			<tr>
				<td><textarea rows="10" class="form-control" name="content"
						placeholder="본문내용" required="required" th:text="${boardVO.content}" readonly="readonly"></textarea></td>
			</tr>
			<tr align="left">
				<td id="jjimImg">
					<img height="60" id="jjim" src="" />
					
				</td>
			</tr>
			<tr>
				<td align="left">
					<span style="font-weight: bold;font-size: 20px "> 댓글 </span><br><br>
					<div id="commentTable">
					<th:block th:if="${commentList!=null}">
					<th:block id="commentList" th:each ="comment:${commentList}">
					<input type="hidden" class="commentNo" th:value="${comment.commentNo}">
					<div class="input-group mb-3">
					<!-- 댓글리스트 받아서 th:if댓글리스트가 null이 아닐 때 th:each문으로 출력 -->
					  <span th:text=${comment.id} class="input-group-text" id="basic-addon1">댓글작성자id</span>
					  <th:block th:if="${comment.id}!=${session.memberVO.id}"> 
					 		 <input type="text" th:value="${comment.commentContent}" class="form-control" readonly="readonly" aria-label="Username" aria-describedby="basic-addon1">
					 		
					  </th:block>
					  <th:block th:unless="${comment.id}!=${session.memberVO.id}"> <!-- 내가 쓴 댓글에만 수정 삭제 버튼 보이도록 & 수정가능 -->
					 	<!-- <th:block th:if="${comment.id}==${session.memberVO.id}"> -->
					 	<input type="text" th:value="${comment.commentContent}" th:id="|comment${comment.commentNo}|" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
							<button class="btn btn-outline-secondary updateCommentBtn" th:id="|update${comment.commentNo}|" th:value="${comment.commentNo}" type="button">수정</button>
  					  		<button class="btn btn-outline-secondary deleteCommentBtn" th:id="|delete${comment.commentNo}|" type="button" th:value="${comment.commentNo}">삭제</button>
  					 	</th:block> <!-- -->
					</div>
					</th:block>
					</th:block> 
					</div>
				</td>
				</tr>
				<tr>
				<td>
					<div class="input-group mb-3">
					  <input type="text" class="form-control" required="required" placeholder="댓글을 작성해주세요." id="commentContent" name="commentContent" aria-label="Recipient's username" aria-describedby="button-addon2">
					  <button class="btn btn-outline-secondary" type="button" id="commentBtn" >등록</button>
					</div>
				</td>
			</tr>
			
		</table>
	
		<div class="text-center">
			<input type="hidden" name="boardCategori"
				value="${param.boardCategori}" th:value="${param.boardCategori}">
			<div th:if = "${boardVO.id} != ${myId}">
			<button id="reserveBtn" type="button" class="btn btn-outline-dark" sec:authorize="isAuthenticated()==true" >예약하기</button>
			</div>
			<br><br>
			<div th:if = "${boardVO.id} == ${myId}">
			<button type="button" class="btn btn-success" sec:authorize="isAuthenticated()==true" th:onclick="|location.href='@{/updateFarmPostForm(boardNo=${boardVO.boardNo})}'|">수정하기</button>
			<button type="button" class="btn btn-light" id="deletePostBtn" sec:authorize="isAuthenticated()==true" >삭제하기</button>
			</div>
			
		</div>
	</form>

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" th:text="|${boardVO.id} 님에게 메시지보내기|"></h5>
    
      </div>
      <div class="modal-body">
      	<textarea rows="10" class="form-control" id="content" name="content" placeholder="보낼 메시지를 입력하세요" required="required"></textarea>
			<input type="hidden" name="receiver" th:value="${boardVO.id}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modalSubmitBtn" data-dismiss="modal">보내기</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
      </div>
    </div>
  </div>
</div>	
	

	
</div>	
</html>